.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 2rem;
}

.subtitle {
  font-weight: normal;
}

.logo {
  width: 8rem;
}
